<div id='discussion' class='paper'>
	<div class='path'>
		<%= link_to 'Projects', current_user.account %> >
		<%= link_to @discussion.project.name, account_project_path(@discussion.project.account, @discussion.project) %> >
		<%= link_to @discussion.title, '' %>
	</div>

	<div >
			<h3><%= @discussion.title %></h3>
		<span class='creator_info'>
			Created at: <%= @discussion.created_at %>, by <%=  @discussion.creator.email %>
			<br/>
		</span>
		<p>
			<%= @discussion.description %>
		</p>
		<span class='actions'>
      <%= link_to 'Edit', edit_account_project_discussion_path(@discussion.project.account, @discussion.project, @discussion) %>
      <%= link_to 'Destroy', [@discussion.project.account, @discussion.project, @discussion], method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Back', account_project_path(@discussion.project.account, @discussion.project) %>
    </span>
	</div>
</div>