<h1>To-dos</h1>

<% @todo_lists.each do |todo_list| %>
  <div>
  <%= link_to todo_list.name, todo_list_path(todo_list) %><br/>
  <%= todo_list.description %>
  </div>
  <div>
  <% todo_list.todos.each do |e| %>
    <%= form_for(e) do |f| %>
      <%= f.check_box :done %>
      <%= f.text_field :name, id: "todo_#{:id}" %>
      <%= f.submit %>
      <br/>
    <% end %>
  <% end %>
  </div>
  <div>
    <%= link_to 'Show', todo_list %>
    <%= link_to 'Edit', edit_todo_list_path(todo_list) %>
    <%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<br>

<%= link_to 'New Todo list', new_todo_list_path %>