<% cache todo_list do %>
  <div>
    <%= form_for(todo_list) do |f| %>
      <% if todo_list.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

          <ul>
          <% todo_list.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name %><br/>
        <%= f.text_field :description %><br/>
        <%= f.submit %>
      </div>
      <div class="field">
        <%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
      <div class="field">
    <% end %>
  </div>
  <div>
    <%= render todo_list.todos %>
    <%= link_to "add todo", todos_path({ todo: { name: 'New todo', todo_list_id: todo_list.id }, "commit"=>"Create Todo"}), method: :create %>
  </div>
  <br/>
<% end %>