<div class='all_todo_lists paper'>
  <div class='path'>
    <%= link_to 'Projects', current_user.account %> >
    <%= link_to @todo_lists.first.project.name, account_project_path(current_user.account, @todo_lists.first.project) %> >
    <%= link_to 'To do lists', '' %>
  </div>
  <h1>To do lists</h1>

  <ul>
    <% @todo_lists.each do |todo_list| %>
      <li class='field'>
        <%= link_to todo_list.name, [todo_list.project.account, todo_list.project, todo_list] %> 
        <%= todo_list.description %>
        <span class='actions'>
          <%= link_to 'Destroy', [todo_list.project.account, todo_list.project, todo_list], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
        </span>
      </li>
    <% end %>
  </ul>
</div>