<div class='paper'>
  <h1>Listing events</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>All day</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.description %></td>
          <td><%= event.starts_at %></td>
          <td><%= event.ends_at %></td>
          <td><%= event.all_day %></td>
          <td><%= link_to 'Show', account_event_path(current_user.account, event) %></td>
          <td><%= link_to 'Edit', edit_account_event_path(current_user.account, event) %></td>
          <td><%= link_to 'Destroy', account_event_path(current_user.account, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to 'New Event', new_account_event_path(current_user.account) %>
</div>