<div class="form_project paper">
  <div class='path'>
    <%= link_to 'Projects', current_user.account %> >
    <%= link_to @project.name, '' %>
  </div>
  
  <div id='project_head'>
    <%= render 'form' %>
  </div>  
  
  <ul id='project_menu'>
    <li><%= link_to "Todo lists (#{@project.todo_lists.count})", account_project_todo_lists_path(@project.accounts, @project) %></li>
    <li><%= link_to "Events (#{@project.events.count})", account_events_path(@project.accounts, @project) %></li>
  </ul>
  
  <h1 id='todo_lists_label'>To-do lists</h1>
  <%= link_to "add todo list", account_project_todo_lists_path(current_user.account, @project, todo_list: {name: 'New todo list', project_id: @project.id}, commit: 'Create todo list'), method: :post, remote: true %>
  <ul class="todo_lists" id=<%= "project_#{@project.id}" %> >
    <%= render @project.todo_lists %>
  </ul>
  
  <h1 id='events_label'>Events</h1>
  <%= link_to "add event", account_events_path(current_user.account, event: {title: 'New event', starts_at: Date.today, ends_at: Date.today, project_id: @project.id}, commit: 'Create event'), method: :post, remote: true %>
  <ul class="events" id=<%= "project_#{@project.id}" %> >
    <%= render @project.events %>
  </ul>
</div>