<% cache todo do %>
  <div class="form_todo">
    <%= form_for todo, remote: true do |f| %>
      <% if todo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

          <ul>
          <% todo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.check_box :done, onclick: 'this.form.submit.click()' %>
        <%= f.text_field :name %>
        <%= f.submit id: :submit %>
        <%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, id: 'destroy' %>
      </div>
    <% end %>
  </div>
<% end %>
